.navbar-brand{
    font-family: 'Pacifico', cursive;
    color: #e5474b;
    font-size: 1.75em;
    position: absolute;
    font-size: xx-large;
}
header{
    background-color: #1c1c1c;
    height: 5em;
}
.container-fluid{
    padding-top: 1em;
    max-width: 75em;
}
#navbarSupportedContent a{
    display: inline-block;
    padding: 0em 2em;
    font-size: large;

}
.carousel-caption button {
    border: 3px solid white;
    color: white;
    background: transparent;
}
.carousel-caption button:hover {
    color: white;
    background-color: lightslategrey;
}
h2{
    color: #e5474b;
    font-family: sans-serif;
    font-size: 1.75em;
    font-weight: 700;
    margin-bottom: 1em;
}
#one p{
    font-family: sans-serif;
    font-size: 100%;
    margin-bottom: 2em;
}
#one button{ 
    border: 3px solid #e5474b;
    color: #e5474b;
    background-color: transparent;
    font-weight: 700;
}
#one button:hover{
    background-color: #e4c6c6;
}
section{
    margin-bottom: 5em;
}
#two{
    background-color: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
}
#three{
    background: #e5474b;
}
#three h2{
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    padding-top: 2em;
}
form{
    color: white;
    font-size: 1.25em;
    font-weight: 700;
}
.form-group{
    margin-bottom: 2em;
}
.form-group label{
    margin-bottom: 1.5em;
}
.form-control{
    background-color: #e5474b !important;
    border-color: rgba(255, 255, 255, 0.25);
}
input[type=text], input[type=email], textarea[name=message]{
    height:2.75em;  
    font-family: sans-serif;
    border: 5px solid rgba(255, 255, 255, 0.25);
}
/* textarea{
    resize: none;
} */
#message-div{
    margin: 0px !important;
}
button[type=submit]{
    border: 3px solid white;
    padding: 10px 55px;
    transition: background-color 0.5s ease;
    background-color: transparent;
    font-weight: 700;
    margin-top: 6em;
}
input[type=text]:focus, input[type=email]:focus, textarea[name=message]:focus{
    border: 5px solid white;
    color: white;
}
button[type=submit]:hover{
    background-color: #da7a7d;
    border: 3px solid white;
}
#footer{
    background-color: #e5474b;
    color: #f2a3a5;
    font-family: sans-serif;
    margin: 0 !important; 
    height: 8em;
}
body{
    margin-bottom: 0px;
}